# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\FSS_defect_base\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
